@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 132px;
    padding-top: 40px;
}

a{
    color: inherit;
    font-size: 14px;
    text-decoration: none;
}

.logo{
    width: 40px;
    display: flex;
}

.logo:hover{
    color: rgba(100,21,255);  
    transition: 400ms ease;
}

ul{
    display: flex;
}

.login{
    padding-left: 48px;
}

li{
    list-style: none;
    padding: 16px;
    font-weight: 900;
}

li:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgba(100,21,255);  
    transition: 400ms ease;
}

button{
    padding: 0 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 24px 24px 24px;
    border: none;
    background-color: rgba(100,21,255);
    color: rgba(247,250,252);
    border-width: 0;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background-color: rgba(100,21,255);  
    transition: 400ms ease;
}

h1{
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 24px;
    font-weight: 900;
}